---
layout: default
custom-foot: 
lazyload: true
---

<div class="container px-5">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="site-title text-right display-3 pt-5 pb-3">Seeing<br> <span class="display-2">Lizzie</span></h1>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ '/assets/images/marie-photo-circle.png' | relative_url }}" class="img-fluid" alt="painting of a woman's face with white skin, curly brown hair, and red lips">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 index-content">
            <p>In the 19th century, Elizabeth "Lizzie" Breckenridge's life was predominantly documented through the Wylie family letters and diary entries. These historical records shed light on Lizzie's daily routines and responsibilities, which primarily revolved around her labor. Her presence in these documents is often associated with tasks such as cooking, gardening, cleaning, and even tending to children who eagerly offered their assistance.</p>
            <p>However, the Wylie family papers provide only a limited glimpse into Lizzie's inner thoughts and feelings regarding her work and living conditions. To uncover a more comprehensive understanding of her experiences, a dedicated project has been initiated. This undertaking involves meticulously gathering all references to Elizabeth Breckenridge found within the Wylie Family correspondence.</p>
            <p>The objective of this project is to compile these references, creating a comprehensive collection that will be made accessible to the broader public. By doing so, it aims to rectify the historical underrepresentation of Elizabeth "Lizzie" Breckenridge's narrative. This initiative is instrumental in recontextualizing her life within the historical landscape of Bloomington during the 19th century, providing valuable insights into African American life during that era.</p>
        </div>
    </div>
</div>

<div class="container-fluid px-5">
    <div class="row pt-3 pb-5">
        <div class="card-deck px-5">
            <div class="card bg-light shadow mr-md-5">
                <div class="row align-items-center position-relative">
                    <div class="col-4">
                        <img src="{{ '/assets/images/logos/featherquill2.png' | relative_url }}" class="img-fluid ml-3" alt="illustrated black quill, drawing a squiggly line">
                    </div>
                    <div class="col-8 position-static">
                        <p class="custom-card-title my-auto pt-4"><strong><a href="{{ 'browse.html' | relative_url }}" class="stretched-link">Letters</a></strong></p>
                        <p class="custom-card-text pr-3 pb-3 pt-1">View Marie's letters and read their transcriptions and translations.</p>
                    </div>
                </div>
            </div>
            <div class="card bg-light shadow">
                <div class="row align-items-center position-relative">
                    <div class="col-4">
                        <img src="{{ '/assets/images/logos/map-solid.svg' | relative_url }}" class="img-fluid ml-3" alt="black map icon, with three pieces and two folds">
                    </div>
                    <div class="col-8 position-static">
                        <p class="custom-card-title my-auto pt-4"><strong><a href="{{ 'storymap.html' | relative_url }}" class="stretched-link">Maps</a></strong></p>
                        <p class="custom-card-text pr-3 pb-3 pt-1">Explore the trajectory of Marie's journey across Europe.</p>
                    </div>
                </div>
            </div>
            <div class="card bg-light shadow ml-md-5">
                <div class="row align-items-center position-relative">
                    <div class="col-4">
                        <img src="{{ '/assets/images/logos/m-letter.png' | relative_url }}" class="img-fluid ml-3 pr-2" alt="black cursive letter M">
                    </div>
                    <div class="col-8 position-static">
                        <p class="custom-card-title my-auto pt-4"><strong><a href="{{ 'about.html' | relative_url }}" class="stretched-link">About</a></strong></p>
                        <p class="custom-card-text pr-3 pb-3 pt-1">Learn more about <em>The Letters of Marie Mancini Project.</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
